@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(48deg, #1d1d1d, rgb(14, 14, 14));
   
}

header{
    background-color: rgba(1, 0, 51, 0.3);
    box-shadow: 4px 4px 4px black;
    padding: 40px;
}

nav li{
display: inline-block;
}

.Logo img{
    width: 20vh;
    padding: 10px;
    margin-top: -20px;
}

nav li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px;
}

nav li a:hover{
background-color:#ffaf01f5 ;
}

.div-list{
    margin-left: 165px;
    margin-top: -75px;
}


.dropdowncalc{
    position: absolute;
    box-shadow: 4px 4px 4px black;
    display: none;

}

.dropdowncalc a{
    display: block;
}

.Calculadora:hover .dropdowncalc{
    display: block;
    background-color: rgba(26, 25, 25, 0.6);

}


.dropdownmacro{
    position: absolute;
    box-shadow: 4px 4px 4px black;
    display: none;
}

.dropdownmacro a{
    display: block; 
}

.Macronutriente:hover .dropdownmacro{
    display: block;
    background-color: rgba(26, 25, 25, 0.6);
}

.titulo{
    color: white;
    margin-top: 50px;

}

.input_area{
    width: 100%;
    align-items: center;
justify-content: space-between;
padding-top: 30px;
}



.container{
        flex-direction: column;
        align-items: center;
        background-color: rgba(1, 0, 51, 0.3);
        padding: 40px;
        border-radius: 20px;
        color: rgb(228, 228, 228);
        width: 65vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    .butao1 {
        height: 3em;
        width: 100%;
        background-color: #ffaf01f5; /* Cor de fundo padrão */
        border: none;
        border-radius: 10px;
        color: white;
        margin-top: 20px;
        font-size: 1rem;
        cursor: pointer;
        font-weight: 400;
        transition: background 0.4s ease; /* Transição suave */
    }


.area{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

input{
    padding: 0.5em;
border-radius: 10px;
}

textarea{
    width: 100%;
    background-color: #d1d1d1;
    margin-top: 2em;
}

.input_area {
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
}

input{
    width: 92%;
    padding: 0.5em;
    border-radius: 10px;
}

.resultado{
    margin: 1em;
    margin-left: 0px;
}


.input_area{
    font-weight: 550;
    color: #ffffff;
}

.input_area{
    justify-content: space-between;
    background-color: #3f3f46;
    border-radius: 3px;
    margin-top: -30px;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 10px;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.1rem;
    color: #000000;
    padding: 0 0.8rem;

}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
  appearance: none;
}

.input-field input:focus {
    outline: none;
}

.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp-solid, .fa-solid, .fab, .far, .fas{
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    color: #161616;
}

.input_area2{
    justify-content: space-between;
    background-color: #3f3f46;
    border-radius: 3px;
    margin-top: -30px;
}


.input-field2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 10px;
}

.input-field2 input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.1rem;
    color: #000000;
    padding: 0 0.8rem;

}

.input-field2 input::-webkit-outer-spin-button,
.input-field2 input::-webkit-inner-spin-button {
  appearance: none;
}

.input-field2 input:focus {
    outline: none;
}

.filde01{
    margin-top: 20px;
}

.espaçamento{
    margin-top: 30px;
}


.espaço{
    margin-top: 30px;
}


.butao1:hover {
    background: linear-gradient(90deg, #ff6701, #ffaa00); /* Degradê ao passar o mouse */
    background-size: 200% 100%; /* Tamanho maior para permitir o deslizamento */
    animation: colorSlide 1.5s ease forwards; /* Animação de transição */
}

/* Definindo a animação */
@keyframes colorSlide {
    0% {
        background-position: -100% 0; /* Inicia fora da área visível à esquerda */
    }
    100% {
        background-position: 0 0; /* Termina na posição original (à direita) */
    }
}


#result {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 2px solid rgb(255, 167, 3);
    padding: 0.75rem 0;
    margin-top: 20px;
}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}

#bmi span:last-child {
    font-size: 0.875rem;
    color:#cbd5e1;
}

#description{
   width: 15.5rem;
}


.button-menu{
    width: 100%;
    background-color: red;
}


.delete{
    display: none;
}

.backbutton01{
background-color: #bb0000;
    color: white;
    border: none;
    padding: 4px;
    margin-top: 10px;
    border-radius: 15px;
    font-weight: 500;
    width: 30%;
    cursor: pointer;
}


.hidden{
    display: none;
}


.input_area3{
    justify-content: space-between;
    background-color: #3f3f46;
    border-radius: 3px;
    margin-top: -30px;
}


.input-field3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 10px;
}

.input-field3 input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.1rem;
    color: #000000;
    padding: 0 0.8rem;

}

.input-field3 input::-webkit-outer-spin-button,
.input-field3 input::-webkit-inner-spin-button {
  appearance: none;
}

.input-field3 input:focus {
    outline: none;
}


.alinks {
    color: #ffffff;
    text-decoration: none;
font-size: 16px;
}

.alinks:hover {
    text-decoration: underline;
    color: #ffaa00;
    
}
  
.blocolink{
    margin-top: 10px;
}





.rodapebox{
    display: flex;
    width: 100%;
    height: 20vh;
    background-color: rgba(1, 0, 51, 0.3);
    margin-top: 100px
    
}


.rodapebox a{
    display: flex;
    color: white;
    text-decoration: none;
    flex-direction: column;
margin-top: 15px;

}

.colum01{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
}

.colum01 a:hover{
 color: #ffaf01f5;
}


.colum02{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 80px;
}

.colum02 a:hover{
 color: #ffaf01f5;
}


.colum03{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 120px;
}

.colum03 a:hover{
 color: #ffaf01f5;
}



.rodapestop{
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: rgba(1, 0, 51, 0.3); 
 
}

.rodapestop a{
display: flex;
    height: 5vh;
    text-decoration: none;
 
    color: rgb(194, 194, 194);
    border-top: 2px solid rgb(255, 167, 3);
    width: 100%;
    justify-content: center;
    align-items: center;
height: 10vh;  
margin-top: 40px;



}

.button-exit{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px;
    
    margin-left: 40px;

}

.button-exit:hover{
    background-color: rgb(196, 16, 16);
}


li h1{
    color: white;
    font-weight: 500;
    font-size: 15px;
    margin-left: 50px;
}

.titulo h1{
    font-weight: 500;
}